<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <style>
            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
            }

            body {
                margin: 0;
                padding: 0;
                font-family: Arial, sans-serif;
                background-color: #36404A;
            }

            #sidebar {
                width: 100%;
                background-color: #0DFF92;
            }

            #sidebar ul {
                display: flex;
                justify-content: space-around;
                align-items: center;
                list-style: none;
                margin: 0;
                padding: 10px 20px;
            }

            #sidebar ul div li, .logout{
                padding: 5px 10px;
                font-size: 28px;
                font-weight: bold;
            }

            #sidebar ul div li a, .logout a{
                text-decoration: none;
                color: #36404A
            }

            #sidebar ul div li a:hover{
                color: #2440b8
            }

            #sidebar ul div {
                display: flex;
                justify-content: space-around;
            }

            .logout {
                margin-left: 200px;
                padding: 10px 30px;
                font-size: 22px;
                color: #fff;
                transition: .3s;
                background-color: #ff3a3a;
            }

            .logout:hover {
                background-color: #ea0000;
                color: #fff;
                transition: .3s;
            }

            .outName {
                font-size: 22px;
                color: #1755af;
                margin-left: 100px;
            }
            
            #sidebar a {
                position: relative;
            }
        </style>
    </head>
    <body>
    <div id="sidebar">
        {% block sidebar %}
            <ul>
                <div>
                    <li><a href="/about" class="aboutLink">О сайте</a></li>
                    <li><a href="/questions" class="questionsLink">Вопросы</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="outName">Привет! {{ app.user.name }}</li>
                    {% else %}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    {% endif %}
                </div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="/logout" class="logout">Выход</a></li>
                {% endif %}
            </ul>
        {% endblock %}
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
